// background: linear-gradient(27deg, rgba(255,0,0,1) 11%, rgba(0,255,0,1) 50%, rgba(0,0,255,1) 98%);

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Oswald', sans-serif;

body
    display: flex
    flex-direction: column
    width: 100vw
    background: #0EED12
    // background: gray
    justify-content: center
    align-items: center
    

.container
    width: 800px
    height: 200px
    margin: 150px
    position relative
    overflow-x: hidden
    overflow-y: hidden

.platform__container
    display: flex
    position: absolute
    left -50px
    height: 200px
    width 300px
    // margin-left: 50px
    background: transparent    
    // border: ridge 10px white
    // border-radius: 50%
    // animation-name: rotation
    // animation-duration: 10s
    z-index: 1
    // animation-delay: 3s
    // animation-iteration-count: infinite
    &--green-screen
        height: 200px
        min-width 50px
        position relative
        right: -50px
        background: #0EED12
        z-index: 2
    &--logo
        display: flex
        height: 200px
        min-width: 200px
        justify-content: center
        align-items: center
        background: black
        border: ridge 10px white
        border-radius: 50%
        animation-name: rotation
        animation-duration: 8s
        // animation-iteration-count: infinite
        // animation-delay: 5s
        z-index: 3
        position relative
        
//La animacion infinita rapida la arreglas moviendo los tiempos y dejando a aproximadamente a 80% para que se regrese la anomación 

@keyframes rotation{
    0%{
        }
    15%{
        transform: rotate(360deg) 
        }
    85%{
        transform: rotate(360deg) 
        }
    100%{
        transform: static
        }
    // 90%{
    //     transform: rotate(none)
    //     }
    // 100%{
    //     transform: rotate(-360deg) 
    //     }
}

.logo
    // background-image: url(https://logos-marcas.com/wp-content/uploads/2020/11/Twitch-Emblema.png)
    // background-repeat: no-repeat
    // background-size: cover
    // background-position: center
    height: 100px
    &--bigger
        height: 150px
    &--option2
        height: 135px

.banner
    display: flex
    flex-direction: row
    width: 600px
    height: 125px
    position absolute
    top: 36px 
    // background: #161616
    background: black  
    border-top: solid white 5px
    left: -510px
    // left: 0
    animation-name: extend
    animation-duration: 8s
    // animation-iteration-count: infinite
    // animation-delay: 5s
    &__info
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-template-rows: repeat(2, 1fr)
        width: 515px
        &--info-description
            grid-column-start: 2
            grid-column-end: 7
            grid-row-start: 1
            grid-row-end: 2
            color: white
            text-align: right
            font-size: 1.8rem
        &--name-description
            grid-column-start: 2
            grid-column-end: 7
            grid-row-start: 2
            grid-row-end: 3
            color: white
            text-align: right
            font-size: 1.8rem
    &__corner
        width: 85px
        height: 1205px
        // background: orange
        background: 
            linear-gradient(125deg, black  50%, transparent 50%) 100px 0px
        background-size: 265px 335px;
        position: relative
        left 85px
        bottom 5px
        border-top: solid white 5px


@keyframes extend{
    0%{
        }
    15%{
        left 75px 
        }

    85%{
        left 75px 
        }

    100%{
        left -510px 
        }
}